
.high {
  color:white; 
  background-color:red;
}
.mediun {
  color:white;
  background-color:orange;
}

.low {
  color:black;
  background-color:gray;
}
.done {
  color:cyan;
  background-color:black;
}



section {
  border: 5px solid black;
  height: 200px;
  width: 300px;
  overflow: auto;
  
}
section.medium {
  display: none;
}
