
.high {
  color:white; 
  background-color:red;
}
.mediun {
  color:white;
  background-color:orange;
}

.low {
  color:black;
  background-color:gray;

}
.done {
  color:cyan;
  background-color:black;

}
.sections {
  background-color:Yellow;
  height: 200px;
  width: 300px;
  border: 10px solid blue;
  padding: 20px;
  margin: 20px;
  float: left;
  overflow: auto;
  z-index:+3;
}
footer {
  clear:both;
}

  

